@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300;800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root { --font-heading: 'Manrope', sans-serif; --font-body: 'Manrope', sans-serif; }
body { margin: 0; background: #000; color: #fff; font-family: var(--font-body); }